@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply flex items-center flex-col content-center;
}

@import '../assets/css/loader.module.css';

header{
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: azure;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(185, 185, 185);
  margin-top: 20px;
}

.logo{
  @apply text-red-300 font-semibold cursor-pointer;
}

.nav{
  @apply flex items-center content-center;
}

.nav-link{
  @apply px-4 py-2 font-bold text-blue-400 underline text-sm;
}

.heading{
  @apply font-bold text-red-300 text-lg;
}

.app{
  @apply flex flex-col content-start items-start 
  shadow-md p-4 mt-5 rounded-sm w-custom-65vw;
}

.posts{
  @apply grid grid-cols-2 gap-5 mt-4;
}

.post {
  @apply bg-slate-50 p-2 rounded-sm shadow-sm;

  h3 {
    @apply font-bold opacity-50;
  }
  p {
    @apply font-light text-sm;
  }
}

.create {
  @apply flex flex-col items-start content-center w-custom-65vw h-fit p-5 m-6;

  h2{
    @apply my-2 text-base font-bold text-red-300;
  }

  form{
    @apply flex flex-col items-start content-around w-4/5;

    label{
      @apply my-2 text-base font-bold text-slate-400;
    }

    input, textarea{
      @apply w-full p-2 border border-slate-200 rounded-md;

      &:focus{
        @apply outline outline-1 outline-slate-300;
      }
    }

    button{
      @apply my-2 text-base font-bold bg-slate-400 rounded-md py-1 px-3 text-white;
    }
  }
}